.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.card img {
    width: 100%;
    height: 200px; /* Adjust the height as needed */
    object-fit: contain; /* Ensures the image covers the entire space */
    border-radius: 5px;
}


.order-btn {
    display: block;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.order-btn:hover {
    background-color: #0056b3;
}

form {
    max-width: 500px;
    margin: 0 auto;
}

form label,
form input,
form textarea,
form select {
    display: block;
    margin-bottom: 10px;
}

form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* form input:invalid,
form select:invalid,
form textarea:invalid {
    border: 2px solid red;
}

form input:valid,
form select:valid,
form textarea:valid {
    border: 2px solid green;
}
 */